In [24]:
# Dependencies
import os
import requests
import pymongo
import pandas as pd
import csv
import datetime as dt
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import inspect, func
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [69]:
#query_url = 'https://data.kcmo.org/resource/dmjw-d28i.json'
#response = requests.get(query_url).json()

In [17]:
crime_data = pd.read_csv('crimedata.csv')

In [18]:
crime_df = pd.DataFrame(crime_data)
crime_df.head()

,:@computed_region_9t2m_phkm,:@computed_region_kk66_ngf4,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp,address,age,area,beat,city,description,...,offense,race,rep_dist,report_no,reported_date,reported_time,sex,to_date,to_time,zip_code
0,NaN,NaN,NaN,NaN,3900 MYRTLE AV,NaN,EPD,334.0,KANSAS CITY,Possession/Sale/Dist,...,1849,NaN,PJ3211,180066852,2018-08-30T00:00:00.000,04:58,NaN,NaN,NaN,64127
1,NaN,NaN,NaN,NaN,00 E 32 ST,68.0,CPD,135.0,KANSAS CITY,Non Aggravated Assau,...,801,W,PJ2580,180017833,2018-03-07T00:00:00.000,19:25,M,2018-03-07T00:00:00.000,19:25,64111
2,2.0,181.0,7.0,98.0,7700 E 75 ST,57.0,MPD,243.0,KANSAS CITY,Misc Violation,...,2601,B,PJ5738,180004903,2018-01-20T00:00:00.000,17:03,F,NaN,NaN,64138
3,2.0,175.0,7.0,157.0,5800 BELLEFONTAINE AV,28.0,MPD,223.0,KANSAS CITY,Aggravated Assault (,...,401,B,PJ4665,180011611,2018-02-16T00:00:00.000,16:16,F,NaN,NaN,64130
4,NaN,NaN,NaN,NaN,E BANNISTER RD and BRISTOL AV,51.0,SPD,542.0,KANSAS CITY,Aggravated Assault (,...,401,B,PJ6485,180065046,2018-08-23T00:00:00.000,21:32,M,NaN,NaN,64138

In [19]:
crime_df = crime_df.drop([":@computed_region_9t2m_phkm", ":@computed_region_kk66_ngf4", ":@computed_region_my34_vmp8", 
                         ":@computed_region_w4hf_t6bp", "age", "race", "rep_dist", "sex", "to_date", "to_time"], axis=1)
crime_df.head()

,address,area,beat,city,description,dvflag,firearm_used_flag,from_date,from_time,ibrs,invl_no,involvement,location,offense,report_no,reported_date,reported_time,zip_code
0,3900 MYRTLE AV,EPD,334.0,KANSAS CITY,Possession/Sale/Dist,U,N,2018-08-30T00:00:00.000,04:58,35A,2,VIC,"3900 MYRTLE AV\nKANSAS CITY, 64127",1849,180066852,2018-08-30T00:00:00.000,04:58,64127
1,00 E 32 ST,CPD,135.0,KANSAS CITY,Non Aggravated Assau,N,N,2018-03-07T00:00:00.000,19:00,13B,1,VIC,"00 E 32 ST\nKANSAS CITY, 64111",801,180017833,2018-03-07T00:00:00.000,19:25,64111
2,7700 E 75 ST,MPD,243.0,KANSAS CITY,Misc Violation,U,N,2018-01-20T00:00:00.000,17:03,90Z,1,VIC,"7700 E 75 ST\nKANSAS CITY, 64138\n(38.987996,...",2601,180004903,2018-01-20T00:00:00.000,17:03,64138
3,5800 BELLEFONTAINE AV,MPD,223.0,KANSAS CITY,Aggravated Assault (,U,Y,2018-02-16T00:00:00.000,16:16,13A,1,VIC,"5800 BELLEFONTAINE AV\nKANSAS CITY, 64130\n(3...",401,180011611,2018-02-16T00:00:00.000,16:16,64130
4,E BANNISTER RD and BRISTOL AV,SPD,542.0,KANSAS CITY,Aggravated Assault (,U,Y,2018-08-23T00:00:00.000,21:32,13A,1,VIC,"E BANNISTER RD\nKANSAS CITY, 64138",401,180065046,2018-08-23T00:00:00.000,21:32,64138

In [33]:
import pymysql
pymysql.install_as_MySQLdb()

engine = create_engine("mysql://127.0.0.1:3306")
conn = engine.connect()

Base.metadata.create_all(engine)
session = Session(bind=engine)

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'Sasha'@'localhost' (using password: NO)")
(Background on this error at: http://sqlalche.me/e/e3q8)

In [35]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()
PWD = 'YOUR PWD HERE'
USR = 'YOUR USERNAME HERE'
SQLALCHEMY_DATABASE_URI = 'mysql://{}:{}@localhost:3306/crimez'.format(USR, PWD)

# TO GET THIS PORTION TO WORK OPEN UP YOUR MYSQL Command Line Client
# Type the following into your CLC:
# GRANT all privileges on TESTDB.* to 'Max'@'localhost' IDENTIFIED BY 'maxkim' WITH GRANT OPTION;
# changing 'max' to your username and 'maxkim' to you password
engine = create_engine(SQLALCHEMY_DATABASE_URI)
conn = engine.connect()

crime_data = pd.read_sql("SELECT * FROM crimedata", conn)

In [36]:
crime_data.head()

,:@computed_region_9t2m_phkm,:@computed_region_kk66_ngf4,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp,address,age,area,beat,city,description,...,offense,race,rep_dist,report_no,reported_date,reported_time,sex,to_date,to_time,zip_code
0,,,,,3900 MYRTLE AV,,EPD,334,KANSAS CITY,Possession/Sale/Dist,...,1849,,PJ3211,180066852,2018-08-30T00:00:00.000,04:58,,,,64127
1,,,,,00 E 32 ST,68,CPD,135,KANSAS CITY,Non Aggravated Assau,...,801,W,PJ2580,180017833,2018-03-07T00:00:00.000,19:25,M,2018-03-07T00:00:00.000,19:25,64111
2,2,181,7,98,7700 E 75 ST,57,MPD,243,KANSAS CITY,Misc Violation,...,2601,B,PJ5738,180004903,2018-01-20T00:00:00.000,17:03,F,,,64138
3,2,175,7,157,5800 BELLEFONTAINE AV,28,MPD,223,KANSAS CITY,Aggravated Assault (,...,401,B,PJ4665,180011611,2018-02-16T00:00:00.000,16:16,F,,,64130
4,,,,,E BANNISTER RD and BRISTOL AV,51,SPD,542,KANSAS CITY,Aggravated Assault (,...,401,B,PJ6485,180065046,2018-08-23T00:00:00.000,21:32,M,,,64138

In [62]:
crime_data_2014 = pd.read_csv('KCPD_Crime_Data_2014.csv')
crime_2014 = crime_data_2014.drop(["Neighborhood Census", "Council Districts", "County Boundary", "Race", "Sex", "Age", "To_Date", "To Time", "From_Date", "From Time", "Zip Codes", "IBRS", "Rep_Dist", "Area", "Beat", "Invl_No", "Involvement", "Location 1", "DVFlag"], axis=1)
crime_2014.head()

,Report_No,Reported_Date,Reported Time,Offense,Description,Address,City,Zip Code,Firearm Used Flag
0,140092859,12/28/2014,19:36,670,Stealing from Buildi,3300 E 30 ST,KANSAS CITY,64127.0,N
1,140003100,1/14/2014,12:30,702,Auto Theft,400 HIGHLAND AV,KANSAS CITY,64106.0,N
2,140078116,10/28/2014,12:53,1198,Impersonation,E INDEPENDENCE AV/E WINNER RD,KANSAS CITY,64109.0,N
3,140087038,12/4/2014,12:35,401,Aggravated Assault (,E 83 ST/WAYNE AV,KANSAS CITY,64130.0,Y
4,140034949,5/22/2014,12:23,1546,Weapons Law Violatio,E 17 ST/TOPPING AV,KANSAS CITY,64127.0,Y

In [67]:
crime_data_2015 = pd.read_csv('KCPD_Crime_Data_2015.csv')
crime_2015 = crime_data_2015.drop(["From_Date", "From Time", "To_Date", "To Time", "Rep_Dist", "Area", "Beat", "Race", "IBRS", "Sex", "Age", "Latitude", "Longitude", "Neighborhood Census", "Council Districts", "Reported Time", "County Boundary", "Zip Codes", "Invl_No", "Involvement", "Location 1", "DVFlag"], axis=1)
crime_2015.head()

,Report_No,Reported_Date,Offense,Description,Address,City,Zip Code,Firearm Used Flag
0,150015427,03/06/2015,2601,Misc Violation,BROADWAY and WESTPORT RD,KANSAS CITY,64131,N
1,70045155,09/21/2015,401,Aggravated Assault (,NaN,NaN,99999,N
2,70045155,09/21/2015,2001,Family Offense,NaN,NaN,99999,N
3,150057463,09/08/2015,702,Auto Theft,PROSPECT AV and E TRUMAN RD,KANSAS CITY,64126,N
4,150033873,05/19/2015,1849,Possession/Sale/Dist,VICTOR ST and WALROND AV,KANSAS CITY,64128,N

In [64]:
crime_data_2016 = pd.read_csv('KCPD_Crime_Data_2016.csv')
crime_2016 = crime_data_2016.drop(["Reported_Time", "From_Date", "From_Time", "To_Date", "To_Time", "IBRS", "Sex", "Age", "Beat", "Race", "Area", "Invl_No", "Involvement", "Location 1", "Rep_Dist", "Latitude", "Longitude", "Neighborhood Census", "Council Districts", "County Boundary", "Zip Codes", "DVFlag"], axis=1)
crime_2016.head()

,Report_No,Reported_Date,Offense,Description,Address,City,Zip Code,Firearm Used Flag
0,100034831,10/18/2016,1352,Stolen Property OFFE,CLEVELAND AV and E GREGORY BL,KANSAS CITY,64130,N
1,120027507,10/25/2016,1352,Stolen Property OFFE,E 52 ST and MICHIGAN AV,KANSAS CITY,64130,N
2,120084496,05/28/2016,1352,Stolen Property OFFE,JACKSON AV and E LINWOOD BL,KANSAS CITY,64128,N
3,130056370,07/04/2016,1849,Possession/Sale/Dist,8500 BLUE PARKWAY,KANSAS CITY,64133,N
4,130056370,07/04/2016,1849,Possession/Sale/Dist,8500 BLUE PARKWAY,KANSAS CITY,64133,N

In [65]:
crime_data_2017 = pd.read_csv('KCPD_Crime_Data_2017.csv')
crime_2017 = crime_data_2017.drop(["Reported_Time", "From_Date", "From_Time", "To_Date", "Invl_No", "Involvement", "Location", "To_Time", "Beat", "IBRS", "Rep_Dist", "Area", "Race", "Sex", "Age", "DVFlag"], axis=1)
crime_2017.head()

,Report_No,Reported_Date,Offense,Description,Address,City,Zip Code,Firearm Used Flag
0,170086272,10/05/2017,690,Stealing All Other,400 W 58 ST,KANSAS CITY,64113,N
1,170026074,04/12/2017,630,Stealing Shoplifting,3500 PROSPECT AV,KANSAS CITY,64127,N
2,170003559,01/15/2017,1850,Possession of Drug E,N GREEN HILLS RD and NW OLD TIFFANY SPRINGS,KANSAS CITY,64152,N
3,170001089,01/05/2017,1849,Possession/Sale/Dist,1100 TROOST AV,KANSAS CITY,64106,N
4,170007467,01/30/2017,670,Stealing from Buildi,4800 E 24 ST,KANSAS CITY,64127,N

In [68]:
# TO CSV
#crime_2014.to_csv('crime_2014.csv', header=True)
#crime_2015.to_csv('crime_2015.csv', header=True)
#crime_2016.to_csv('crime_2016.csv', header=True)
#crime_2017.to_csv('crime_2017.csv', header=True)