In [ ]:
# Import dependencies
import pandas as pd

In [ ]:
file = "Median Household Inc.csv"

# Read our data into pandas
df = pd.read_csv(file)
df.head(50)

In [26]:
df.columns

Index(['ID Year', 'Year', 'Household Income by Race',
       'Household Income by Race Moe', 'Geography', 'ID Geography',
       'Slug Geography'],
      dtype='object')

In [27]:
reduced_df = df.loc[:, ["Year", "Household Income by Race", "Geography"]]
reduced_df

   Year  Household Income by Race        Geography
0  2017                     51330  Kansas City, MO
1  2016                     51235  Kansas City, MO
2  2015                     50259  Kansas City, MO
3  2014                     44173  Kansas City, MO