In [1]:
# Import dependencies
import pandas as pd

In [33]:
file = "Median Household Inc.csv"

# Read our data into pandas
df = pd.read_csv(file)
df.head(10)

,ID Year,Year,Household Income by Race,Household Income by Race Moe,Geography,ID Geography,Slug Geography
0,2017,2017,51330,1346,"Kansas City, MO",16000US2938000,kansas-city-mo
1,2016,2016,51235,1346,"Kansas City, MO",16000US2938000,kansas-city-mo
2,2015,2015,50259,2269,"Kansas City, MO",16000US2938000,kansas-city-mo
3,2014,2014,44173,1855,"Kansas City, MO",16000US2938000,kansas-city-mo

In [30]:
df.columns

Index(['ID Year', 'Year', 'Household Income by Race',
       'Household Income by Race Moe', 'Geography', 'ID Geography',
       'Slug Geography'],
      dtype='object')

In [31]:
reduced_df = df.loc[:, ["Year", "Household Income by Race", "Geography",]]
reduced_df

   Year  Household Income by Race        Geography
0  2017                     51330  Kansas City, MO
1  2016                     51235  Kansas City, MO
2  2015                     50259  Kansas City, MO
3  2014                     44173  Kansas City, MO