In [1]:
import pandas as pd
import numpy as np

### Extracting Month value

In [3]:
df_crime = pd.read_csv("CSVs/KCPD_Crime_Data_2014.csv")

In [4]:
df_crime = df_crime[['From_Date', 'From Time', 'Offense', 'Age']]
df_crime.head()

    From_Date From Time  Offense   Age
0  12/22/2014      1:00      670  45.0
1   1/12/2014     19:00      702  20.0
2   10/7/2014     14:00     1198  43.0
3   12/4/2014     12:35      401  20.0
4   5/22/2014     12:20     1546   NaN

In [5]:
date = df_crime["From_Date"]
date.head()

0    12/22/2014
1     1/12/2014
2     10/7/2014
3     12/4/2014
4     5/22/2014
Name: From_Date, dtype: object

In [6]:
date = date.str.split("/", expand=True)

In [7]:
date.columns = ["Month", "Day", "Year"]
date.head()

  Month Day  Year
0    12  22  2014
1     1  12  2014
2    10   7  2014
3    12   4  2014
4     5  22  2014

In [8]:
date["Year"].value_counts()

2014    122435
2013      1702
2012       140
2011        99
2010        73
2009        26
2008        24
2006        21
2004        19
2005        17
2007        14
1999         8
2003         8
2001         7
2000         4
2002         3
1988         2
1974         2
1930         2
Name: Year, dtype: int64

**Further data cleaning on "Year" col is done by excel**

In [10]:
df_crime[["Month", "Day", "Year"]] = date
df_crime.head()

    From_Date From Time  Offense   Age Month Day  Year
0  12/22/2014      1:00      670  45.0    12  22  2014
1   1/12/2014     19:00      702  20.0     1  12  2014
2   10/7/2014     14:00     1198  43.0    10   7  2014
3   12/4/2014     12:35      401  20.0    12   4  2014
4   5/22/2014     12:20     1546   NaN     5  22  2014

In [11]:
df_crime_month_offense = df_crime[['Offense', 'Age', 'Month', 'Day', 'Year']]
df_crime_month_offense.head()

   Offense   Age Month Day  Year
0      670  45.0    12  22  2014
1      702  20.0     1  12  2014
2     1198  43.0    10   7  2014
3      401  20.0    12   4  2014
4     1546   NaN     5  22  2014

In [13]:
# Making sure if the "Year" col only contains "2014" data

In [14]:
df = pd.read_csv("df_offense_month_2014.csv")

In [15]:
df["Year"].value_counts()

2014    122435
Name: Year, dtype: int64