In [1]:
import pandas as pd
file = r"C:\Users\Matt\Pictures\KCPD_Crime_Data_2015.csv"

In [2]:
df = pd.read_csv(file)
df.head(15)

,Report_No,Reported_Date,Reported Time,From_Date,From Time,To_Date,To Time,Offense,IBRS,Description,...,Sex,Age,Firearm Used Flag,Latitude,Longitude,Location 1,Neighborhood Census,Council Districts,County Boundary,Zip Codes
0,150015427,03/06/2015,0:02,03/06/2015,0:02,NaN,NaN,2601,90Z,Misc Violation,...,NaN,NaN,N,38.9767,-94.5767,"BROADWAY KANSAS CITY64131\n(38.9767, -94.5767)",197.0,2.0,7.0,163.0
1,70045155,09/21/2015,14:20,01/19/2015,NaN,NaN,NaN,401,13A,Aggravated Assault (,...,M,NaN,N,0.0000,0.0000,"99999(0.0, 0.0)",NaN,NaN,NaN,NaN
2,70045155,09/21/2015,14:20,01/19/2015,NaN,NaN,NaN,2001,90F,Family Offense,...,M,NaN,N,0.0000,0.0000,"99999(0.0, 0.0)",NaN,NaN,NaN,NaN
3,150057463,09/08/2015,1:17,09/08/2015,1:17,NaN,NaN,702,240,Auto Theft,...,U,NaN,N,39.0947,-94.5516,"E PROSPECT KANSAS CITY, AV 64126\n(39.0947, -9...",54.0,3.0,7.0,95.0
4,150033873,05/19/2015,0:21,05/19/2015,0:21,NaN,NaN,1849,35A,Possession/Sale/Dist,...,NaN,NaN,N,39.0735,-94.5461,"VICTOR KANSAS CITY, ST 64128\n(39.0735, -94.5461)",77.0,3.0,7.0,36.0
5,150061779,08/31/2015,10:28,08/31/2015,8:00,NaN,NaN,801,13B,Non Aggravated Assau,...,M,29.0,N,42.2167,-89.0251,"E PASEO KANSAS CITY61109\n(42.2167, -89.0251)",NaN,NaN,NaN,NaN
6,150087307,12/04/2015,2:57,12/04/2015,2:57,NaN,NaN,2601,90Z,Misc Violation,...,NaN,NaN,N,39.0952,-94.5645,"E PASEO KANSAS CITY64108\n(39.0952, -94.5645)",54.0,3.0,7.0,92.0
7,150091950,12/28/2015,9:18,12/23/2015,9:00,NaN,NaN,840,90Z,Resisting an Officer,...,M,18.0,N,0.0000,0.0000,"99999(0.0, 0.0)",NaN,NaN,NaN,NaN
8,150059325,08/21/2015,21:45,08/21/2015,21:43,NaN,NaN,702,240,Auto Theft,...,F,51.0,N,39.0949,-94.5562,"E BROOKLYN KANSAS CITY, AV 64106\n(39.0949, -9...",54.0,3.0,7.0,95.0
9,150057467,08/15/2015,2:56,08/15/2015,2:56,NaN,NaN,401,13A,Aggravated Assault (,...,F,30.0,N,39.1057,-94.5319,"INDEPENDENCE KANSAS CITY, AV 64124\n(39.1057, ...",192.0,4.0,7.0,70.0
10,150009894,02/10/2015,10:03,02/09/2015,18:30,02/10/2015 12:00:00 AM,7:30,201,11A,Rape,...,M,50.0,N,39.1094,-94.5630,"E MISSOURI KANSAS CITY, AV 64106\n(39.1094, -9...",135.0,3.0,7.0,75.0
11,150009910,02/10/2015,12:14,02/10/2015,9:50,02/10/2015 12:00:00 AM,10:12,640,23F,Stealing From Auto,...,F,39.0,N,39.1156,-94.5745,"E FRONT KANSAS CITY, ST 64106\n(39.1156, -94.5...",87.0,4.0,7.0,144.0
12,150041636,06/17/2015,21:12,06/17/2015,21:00,NaN,NaN,1849,35A,Possession/Sale/Dist,...,M,32.0,N,39.1067,-94.5601,"INDEPENDENCE KANSAS CITY, AV 64115\n(39.1067, ...",135.0,3.0,7.0,75.0
13,150074376,10/15/2015,23:36,NaN,NaN,NaN,NaN,840,90Z,Resisting an Officer,...,M,36.0,N,39.1077,-94.5404,"BALES KANSAS CITY, AV 64123\n(39.1077, -94.5404)",202.0,4.0,7.0,70.0
14,150036818,05/30/2015,17:17,05/29/2015,14:00,05/30/2015 12:00:00 AM,16:30,640,23F,Stealing From Auto,...,U,NaN,N,39.0400,-94.5870,"MAIN N KANSAS CITY, ST 64112\n(39.04, -94.587)",157.0,4.0,7.0,44.0

In [3]:
df.columns

Index(['Report_No', 'Reported_Date', 'Reported Time', 'From_Date', 'From Time',
       'To_Date', 'To Time', 'Offense', 'IBRS', 'Description', 'Beat',
       'Address', 'City', 'Zip Code', 'Rep_Dist', 'Area', 'DVFlag', 'Invl_No',
       'Involvement', 'Race', 'Sex', 'Age', 'Firearm Used Flag', 'Latitude',
       'Longitude', 'Location 1', 'Neighborhood Census', 'Council Districts',
       'County Boundary', 'Zip Codes'],
      dtype='object')

In [13]:
clean_df = df.drop(["Reported_Date", "Reported Time", "To_Date", "To Time", "IBRS", "Description", "Beat", "Address", "City", "Rep_Dist", "Area", "Invl_No", "Involvement", "Age", "Latitude", "Longitude", "Location 1", "Neighborhood Census", "Council Districts", "County Boundary", "Zip Codes"], axis=1)
clean_df.head()

,Report_No,From_Date,From Time,Offense,Zip Code,DVFlag,Race,Sex,Firearm Used Flag
0,150015427,03/06/2015,0:02,2601,64131,U,NaN,NaN,N
1,70045155,01/19/2015,NaN,401,99999,U,B,M,N
2,70045155,01/19/2015,NaN,2001,99999,U,B,M,N
3,150057463,09/08/2015,1:17,702,64126,U,U,U,N
4,150033873,05/19/2015,0:21,1849,64128,U,NaN,NaN,N